<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <div style="display: flex; flex-direction: row">
    <app-text-input (usernameChange)="receiveUsernameOne($event)"></app-text-input>
    <p style="margin: 2vh 20px">VS</p>
    <app-text-input (usernameChange)="receiveUsernameTwo($event)"></app-text-input>
  </div>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Duel</button>

  <div *ngIf="showUserData" class="data-container">

      <div class="winner-announcement">
      <h2 *ngIf="winner !== 'It\'s a tie!'">Winner: {{ winner }}</h2>
      <h2 *ngIf="winner === 'It\'s a tie!'">It's a tie!</h2>
    </div>
    <div class="data-box">

      <img [src]="userOneData.avatar_url" alt="User Image">
      <p>{{ userOneData.bio }}</p>
      <p>Username: {{ userOneData.username }}</p>
      <p>Name: {{ userOneData.name }}</p>
      <p>Location: {{ userOneData.location }}</p>
      <p>Titles: {{ userOneData.titles?.join(', ') || 'None' }}</p>
      <p>Fav Language: {{ userOneData.favorite_language }}</p>
      <p>Total Stars: {{ userOneData.total_stars }}</p>
      <p>Highest Star Counts: {{ userOneData.highest_starred }}</p>
      <p>Public Repos: {{ userOneData.public_repos }}</p>
      <p>Perfect Repos: {{ userOneData.perfect_repos }}</p>
      <p>Followers: {{ userOneData.followers }}</p>
      <p>Following: {{ userOneData.following }}</p>
    </div>

    <div class="data-box">

      <img [src]="userTwoData.avatar_url" alt="User Image">
      <p>{{ userTwoData.bio }}</p>
      <p>Username: {{ userTwoData.username }}</p>
      <p>Name: {{ userTwoData.name }}</p>
      <p>Location: {{ userTwoData.location }}</p>
      <p>Titles: {{ userTwoData.titles?.join(', ') || 'None' }}</p>
      <p>Fav Language: {{ userTwoData.favorite_language }}</p>
      <p>Total Stars: {{ userTwoData.total_stars }}</p>
      <p>Highest Star Counts: {{ userTwoData.highest_starred }}</p>
      <p>Public Repos: {{ userTwoData.public_repos }}</p>
      <p>Perfect Repos: {{ userTwoData.perfect_repos }}</p>
      <p>Followers: {{ userTwoData.followers }}</p>
      <p>Following: {{ userTwoData.following }}</p>
    </div>


  </div>
</div>
