<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  "
>
  <app-text-input (usernameChange)="receiveUsername($event)"></app-text-input>
  <br />
  <br />
  <button class="submit-button" (click)="onSubmit()">Inspect</button>
    <div *ngIf="showUserData" class="data-box">
    <img [src]="inspectedUser.avatar_url" alt="User Image">
    <p>{{ inspectedUser.bio }}</p>
    <p>Username: {{ inspectedUser.username }}</p>
    <p>Name: {{ inspectedUser.name }}</p>
    <p>Location: {{ inspectedUser.location }}</p>
    <p>Titles: {{ inspectedUser.titles?.join(', ') || 'None' }}</p>
    <p>Fav Language: {{ inspectedUser.favorite_language }}</p>
    <p>Total Stars: {{ inspectedUser.total_stars }}</p>
    <p>Highest Star Counts: {{ inspectedUser.highest_starred }}</p>
    <p>Public Repos: {{ inspectedUser.public_repos }}</p>
    <p>Perfect Repos: {{ inspectedUser.perfect_repos }}</p>
    <p>Followers: {{ inspectedUser.followers }}</p>
    <p>Following: {{ inspectedUser.following }}</p>
  </div>
</div>
